<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <title>Личный кабинет</title>
</head>
<body>
<div class="container mt-4">
    <nav th:insert="layouts/header :: navbar"></nav>

    <p class="h2">Личный кабинет</p>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Имя</th>
            <td th:text="${user.getFirstName()}"></td>

        </tr>
        <tr>
            <th scope="row">Фамилия</th>
            <td th:text="${user.getLastName()}"></td>

        </tr>
        <tr>
            <th scope="row">Электронная почта</th>
            <td th:text="${user.getEmail()}"></td>
        </tr>
        <tr>
            <th scope="row">Адрес</th>
            <td th:text="${user.getAddress()}"></td>
        </tr>
        <tr>
            <th scope="row">Дата регистрации</th>
            <td th:text="${user.getCreatedAt()}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>