<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">


<div class="container mt-4">
    <nav th:insert="layouts/header :: navbar"></nav>

    <p class="h2">Корзина</p>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Количество</th>

        </tr>
        </thead>
        <tbody th:if="${!items.isEmpty()}">
        <tr th:each="item : ${items}">
            <td th:text="${item.getProduct().getProductName()}"></td>
            <td th:text="${item.getProduct().getPrice()}"></td>
            <td th:text="${item.getQuantity()}"></td>
        </tr>
        <!--        <tr th:each="item : ${items}">-->
        <!--            <td th:text="${item.getProduct() != null ? item.getItem().getProductName() : ''}"></td>-->
        <!--            <td th:text="${item.getItem().getPrice() != null ? item.getItem().getPrice() : ''}"></td>-->
        <!--            <td th:text="${item.getQuantity() != null ? item.getQuantity() : ''}"></td>-->
        <!--        </tr>-->
        </tbody>
    </table>


</body>
</html>

