<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container mt-4">
    <nav th:insert="layouts/header :: navbar"></nav>

    <div th:if="${param.success_add}">
        <div class="alert alert-success">Товар успешно добавлен</div>
    </div>

    <p class="h2">Список товаров</p>

    <button class="btn btn-primary my-4" onclick="window.location.href='products/add'"
            th:if="${#strings.equalsIgnoreCase(currentuser.getRole(), 'ADMIN')}"
            type="button">Добавить товар
    </button>

    <button class="btn btn-primary my-4" onclick="window.location.href='cart'"
            type="button">Корзина
    </button>


    <form class="input-group mb-3" method="get" th:action="@{/products}">
        <input class="form-control" name="keyword" placeholder="Поиск по имени и описанию" th:value="${keyword}"
               type="text">
        <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Поиск</button>
    </form>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Добавить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getProductName()}"></td>
            <td th:text="${product.getProductDescription()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td>
                <form method="post" th:action="@{/cart/item}">
                    <input name="productId" th:value="${product.getId()}" type="hidden"/>
                    <input name="quantity" type="hidden" value="1"/>
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" th:if="${products.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${products.number eq 0} ? 'disabled'">
                <a aria-label="Previous"
                   class="page-link"
                   rel="tooltip"
                   th:href="@{/products?page={id}(id=${products.number lt 2 ? 1 : products.number})}" title="Previous Page">
                    Предыдущая
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq products.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( products.number + 1, products.totalPages > 10 + products.number ? products.number + 10 : products.totalPages, 1)}">
                <a class="page-link" rel="tooltip" th:href="@{/products?page={id}(id=${i})}"
                   th:text="${i}"
                   th:title="${'Page '+ i}"></a>
            </li>
            <li class="page-item disabled" th:if="${products.number + 10 < products.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" height="20" width="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${products.number + 1 eq products.totalPages} ? 'disabled'">
                <a aria-label="Next" class="page-link"
                   rel="tooltip"
                   th:href="@{/products?page={id}(id=${products.number + 2})}" title="Next Page">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>

